In [1]:
def is_prime(n):
    for i in range(3, n):
        if n % i == 0:
            return False
    return True

In [2]:
prime_list = []
for i in range(1, 1000):
    if is_prime(i):
        prime_list.append(i)
    if len(prime_list)==10:
        break

In [3]:
prime_list

[1, 2, 3, 4, 5, 7, 11, 13, 17, 19]

In [4]:
set_val = set()

In [5]:
for i in range(10):
    set_val.add(prime_list[i])

In [6]:
set_val

{1, 2, 3, 4, 5, 7, 11, 13, 17, 19}

In [7]:
a=6
b=8
c=9

In [8]:
def modif_set(need, check_fun, sum_fun):
    counter = 1
    need=10
    for i in set_val:
        if check_fun(i):
            need-=1
        if need==0:
            break
    print(need)
    for _ in range(need):
        while True:
            if sum_fun(counter) in set_val:
                counter+=1
            else:
                counter+=1
                set_val.add(sum_fun(counter))
                break

20 чисел кратных A, 30 чисел кратных B, 25 чисел кратных C, 32 числа
кратных A и B, 35 чисел кратных B и C, 15 чисел кратных A и C, и 10 чисел
кратных A*B*C

In [9]:
#20 чисел кратных A
modif_set(20, lambda i: i%a==0,
          lambda i:a*i)

10

In [10]:
#30 чисел кратных B
modif_set(30, lambda i: i%b==0,
          lambda i:b*i)

5

In [11]:
#25 чисел кратных C
modif_set(25, lambda i: i%c==0,
          lambda i:c*i)

7

In [12]:
#32 числа кратных A и B
modif_set(32, lambda i: i%b==0  and i%a==0,
          lambda i:b*a*i)

5

In [13]:
#35 чисел кратных B и C
modif_set(35, lambda i: i%b==0  and i%c==0,
          lambda i:b*c*i)

7

In [14]:
#15 чисел кратных A и C
modif_set(15, lambda i: i%c==0  and i%a==0,
          lambda i:b*c*i)

0

In [15]:
#10 чисел кратных ABC
modif_set(10, lambda i: i%b==0 and i%c==0 and i%a==0,
          lambda i:b*c*a*i)

1

In [16]:
len(set_val)

41

In [17]:
set_val

{1,
 2,
 3,
 4,
 5,
 7,
 11,
 12,
 13,
 16,
 17,
 18,
 19,
 24,
 36,
 40,
 48,
 54,
 60,
 64,
 72,
 84,
 88,
 90,
 96,
 108,
 112,
 120,
 126,
 192,
 216,
 288,
 384,
 432,
 480,
 576,
 720,
 864,
 1008,
 1152,
 1728}

In [18]:
prime_list = []
for i in range(1, 1000):
    if is_prime(i):
        prime_list.append(i)
    if len(prime_list)==10:
        break

In [19]:
prime_list

[1, 2, 3, 4, 5, 7, 11, 13, 17, 19]

In [20]:
set_val = set()

In [21]:
for i in range(10):
    set_val.add(prime_list[i])

In [22]:
prime_list

[1, 2, 3, 4, 5, 7, 11, 13, 17, 19]

12 чисел кратных A, 18 чисел кратных B, 15 чисел кратных C, 12 числа
кратных A и B, 12 чисел кратных B и C, 12 чисел кратных A и C, и 12 чисел
кратных A*B*C

In [23]:
#12 чисел кратных A
modif_set(12, lambda i: i%a==0,
          lambda i:a*i)

10

In [24]:
#18 чисел кратных B
modif_set(18, lambda i: i%b==0,
          lambda i:b*i)

5

In [25]:
#15 чисел кратных C
modif_set(15, lambda i: i%c==0,
          lambda i:c*i)

7

In [26]:
#12 числа кратных A и B
modif_set(12, lambda i: i%b==0  and i%a==0,
          lambda i:b*a*i)

5

In [27]:
#12 чисел кратных B и C
modif_set(12, lambda i: i%b==0  and i%c==0,
          lambda i:b*c*i)

7

In [28]:
#12 чисел кратных A и C
modif_set(12, lambda i: i%a==0  and i%c==0,
          lambda i:a*c*i)

0

In [29]:
#12 чисел кратных ABC
modif_set(12, lambda i: i%b==0 and i%c==0 and i%a==0,
          lambda i:b*c*a*i)

1

In [30]:
len(set_val)

41